html {

}
body {
	margin: 0;
	padding: 0;
	text-align: left;
	font-family: Helvetica,Univers,Arial,sans-serif;
	line-height: 135%;
	background: #fff;
}

h2 {
	color: #000;
	font-size: 26px;
	margin: 0 0 11px;
	padding: 0;
}
.valueInput {
	width: 50px;
}
#basediv-handle-outerdiv {
	order: 1;
}
#basediv-role-outerdiv {
	order: 2;
}
#basediv-spieler-outerdiv {
	order: 3;
}
#basediv-geschlecht-outerdiv {
	order: 4;
}
#basediv-größe-outerdiv {
	order: 5;
}
#basediv-alter-outerdiv {
	order: 6;
}
#basediv-gewicht-outerdiv {
	order: 7;
}
#basediv-haar-outerdiv {
	order: 8;
}
#basediv-augen-outerdiv {
	order: 9;
}
#basediv-stil-outerdiv {
	order: 10;
}
#basediv-offenecp-outerdiv {
	order: 11;
}
#basediv-ruf-outerdiv {
	order: 12;
}
#base div {
	width: 300px;
	float: left;
}
#base div.nameDiv{
	clear: left;
}
#base div div {
	width: 103px;
}
#base {
	clear: both;
	display: flex;
	width: 240px;
	padding: 2px;
	height: 275px;
	border: 1px solid gray;
	background-color: black;
	color: white;
	font-size: 10px;
	flex-wrap: wrap;
	flex-direction: column;
}
#base div div input {
	font-size: 10px;
	width: 120px;
}
#attributes div {
	float: left;
}
#attributes div div {
	float: none;
}
#attributes {
	clear: both;
}
#hits {
	clear: both;
}
#hits div {
	float: left;
}
#hits div div {
	float: none;
}
.headerDiv {
	clear: both;
}
.skillDiv {
	clear: both;
}
.skillDiv div {
	float: left;
}
#skills .nameDiv {
	width: 150px;
}
#skills div .valueInput {
	width: 50px;
}
#skills {
	clear: both;
}
#weapons {
	clear: both;
}
.weaponDiv {
	clear: both;
	border-top: 1px solid gray;
}
.weaponDiv .nameDiv {
	font-weight: bold;
	clear: both;
}
.weaponDiv div {
	float: left;
	clear: none;
	padding-right: 5px;
}
.weaponDiv .racDiv div {
	float: none;
	text-align: right;
}
.firemodesDiv .firemodeTitleDiv {
	float: none;
}
.firemodesDiv div {
	float: left;
}
.bonusNameDiv {
	text-align: right;
}
.bonusNameDiv div {
	float: none;
	clear: left;
}
#inventory {
	clear: both;
}
#armor {
	clear: both;
}
.armorDiv {
	clear: both;
	border-top: 1px solid gray;
}
.armorDiv .nameDiv {
	font-weight: bold;
	clear: both;
}
.armorDiv div {
	float: left;
	padding-right: 5px;
}
.armorDiv .sectionDiv .areasDiv {
	clear: left;
	text-align: right;
	width: 100%;
}
.armorDiv .hleDiv div {
	float: none;
	text-align: right;
}
